* {
    font-family: "Poppins", sans-serif;

}
@media (max-width: 991px){
    .navbar{
        flex-direction: column;
    }
    .navbar-nav{
        display: flex;
        flex-direction: row;
        border: 1px solid white;
        border-radius: 7px  ;
        flex-wrap: wrap;
    }

    .nav-item{
        /*padding: 20px;*/
        margin: 0 15px;
        justify-content: space-between  ;

    }
    #logo-accueil{
        transform: translate(-25%, 0%);
         width: 20vw;
        height: auto;
        padding: 0 10px;
        border: 1px solid white;
        border-radius: 7px;
    }
    .row div{
        margin-right:20px;
        margin-bottom: 15px;
        margin-left: 20px;
    }

    .row div label{
        margin-right: 10px;
    }
    .checkbox-container div label{
        margin: 10px;
    }

    #navbarSupportedContent{
        margin:0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .checkbox-container-parent{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .checkbox-container{
        margin-right:10px;

    }
}

@media (min-width:992px) {
    #navbarSupportedContent{
        position: absolute;
        right: 0;
    }
    .checkbox-container-parent{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .row div{
        margin-right:30px;
        margin-bottom: 15px;
    }

    .row div label{
        margin-right: 10px;
    }
    .checkbox-container div label{
        margin: 10px;
    }

}
.table-container{
    margin: 2%;
    margin-top: 0;
    max-height: 680px;
    overflow-y: auto;
}


.containerInfosActivites{
    margin-top: 2%;
    font-size: x-large;
    display: flex;
}

.fatContainerInfosActivites{
    padding : 20px;
    background-color: white;
}

.labelInfosActivites{
    margin-right: 10px;
    font-weight: bolder;
}

.containerDescription{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

html , body {
    background: #B3C8CF;
    height: auto;
    margin: 0;
    padding: 0;
}

.form-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content :center;
    height:  auto;
}
#formulaireFiltres {
    width: 100%;
    padding-top: 1%;
    margin-top:10%;
    display: grid;
    grid-template-columns: auto;
    border-radius: 4px;
    background-color: #212529;
    color: #FFFFFF;
    justify-items: center;


}




.rechercher button {
    margin-top: 15px !important;
    padding: 1vh 2.4vw 1vh 2.4vw !important;
    margin-right: 0.6vw;
}

.rechercher i {
    padding-right: 10px !important;
}
#formulaireFiltres button {
    display: block;
    background-color: #212529;
    border: 1px solid #B3C8CF;
    border-radius: .25rem;
    box-shadow: none;
    font-weight: 400;

    padding: .375rem .75rem;
    font-size: 1rem;
    color: #fff;
    height: fit-content;
    width: fit-content ;
    margin-bottom : 2%;


}

#formulaireFiltres button:hover {
    display: block;
    background-color: #B3C8CF;
    border: 1px solid #B3C8CF;
    border-radius: .25rem;
    box-shadow: none;
    font-weight: 400;

    padding: .375rem .75rem;
    font-size: 1rem;
    color: #fff;
    height: fit-content;
    width: fit-content ;


}


#formulaireFiltres select, input {

    appearance: none;
    color: #FFFFFF;
    padding: .375rem .75rem;
    border-radius: .25rem;
    border: 1px solid #B3C8CF;
    background-color: #212529;
    cursor: pointer;
}


#formulaireFiltres input::placeholder {
    color: #FFFFFF;
}

#filters_status_filter {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 2.4vw;

}

#filters_status_filter input[type="checkbox"] {
    margin-right: 7px;
    position: relative;
    display: inline-block;
    width: 30px ;
    height: 20px;
    cursor: pointer;
}

#filters_status_filter input[type="checkbox"]:checked {
    background-color: #B3C8CF;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#affichersortie label {
    margin-top: 2%;
}



.create {
    display: flex ;
    flex-direction: row-reverse ;
    margin: 0 2% 2% 2%;
}

.create button {
    background-color: #212529;
    border: none;
}

nav a{
    font-weight: bold;
    color: #FFFFFF;
}

.logo {
    width: 10%;
}

.logo img {
    width: 80%;
}

textarea {
    min-height: 130px;
    resize: none;
}

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 5px;
    margin : 10px;
    border: 10px;
    text-align: center;
}

.flash-succes  {
    background-color: forestgreen !important;
}

.flash-echec {
    color: darkred !important;
}

.table{
    margin-bottom: 0;
}

#bg {
    opacity: 70%;
    position: absolute;
    max-width: 100%;
    width: fit-content;
    height: fit-content;
}

.ecritureEnGras {
    font-weight: bolder;
}

.hidden{
    display: none;
}

#maCarte {
    height: 400px;
}

#modal-button-label{
    margin: 0;
}

#csv_import_csv {
    background-color: #FFFFFF;
    color: black;
    border: none;
}

input {
    appearance: auto;
}