.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.table-container{
    margin: 2%;
    max-height: 680px;
    overflow-y: auto;
}


.containerInfosActivites{
    margin-top: 2%;
    font-size: x-large;
    display: flex;
}

.fatContainerInfosActivites{
    padding : 20px;
    background-color: white;
}

.labelInfosActivites{
    margin-right: 10px;
    font-weight: bolder;
}

.containerDescription{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

html , body {
    background: linear-gradient(to bottom, #ADD8E6, #0071A4);
    height: 100%;
    margin: 0;
    padding: 0;
}


#formulaireFiltres {
    display: flex;
    max-width: 60%;
    background-color: #FFFFFF;
    border: 1px solid #007bff;
    border-radius: 6px;
    margin: 2% 20% 2% 20%;
    padding: 10px;
    flex-direction: column
}

#formulaireFiltres div {
margin: 5px 5px 0 5px;
}

#formulaireFiltres div label {
    margin: 5px 5px 5px 5px;
}

#formulaireFiltres button {
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: .25rem;
    box-shadow: none;
    font-weight: 400;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #fff;
    margin-top: 20px;
    width: 10%;

}

.formsFlex {
    display: flex;
    justify-content: space-evenly;
}

#formulaireFiltresStatuses{
     display: flex;
     flex-direction: column;
 }

 .borderCards {
     border: solid 2px steelblue;
     border-radius: 4px;
 }


.create {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 2% 2% 2%;
}
