* {
    font-family: "Poppins", sans-serif;
}
.table-container{
    margin: 2%;
    max-height: 680px;
    overflow-y: auto;
}


.containerInfosActivites{
    margin-top: 2%;
    font-size: x-large;
    display: flex;
}

.fatContainerInfosActivites{
    padding : 20px;
    background-color: white;
}

.labelInfosActivites{
    margin-right: 10px;
    font-weight: bolder;
}

.containerDescription{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

html , body {
    background: #B3C8CF;
    height: auto;
    margin: 0;
    padding: 0;
}

.form-container {
    position: relative;
    display: flex;
    justify-items :center;
    height:  auto;
}
#formulaireFiltres {
    margin: 7.5% 2% 0 2%;
    padding: 0% 2% 1% 2% ;

    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #212529;
    color: #FFFFFF;

}

#formulaireFiltres div {

    margin: 5px 5px 0 5px;


}

#formulaireFiltres div label {
    margin: 5px 5px 5px 5px;
}


.rechercher {
    margin-top: 2% !important;
}
#formulaireFiltres button {
    display: block;
    background-color: #B3C8CF;
    border: 1px solid #B3C8CF;
    border-radius: .25rem;
    box-shadow: none;
    font-weight: 400;

    padding: .375rem .75rem;
    font-size: 1rem;
    color: #fff;
    height: fit-content;
    width: fit-content ;


}


#formulaireFiltres select, input {

    appearance: none;
    color: #FFFFFF;
    padding: .375rem .75rem;
    border-radius: .25rem;
    border: 1px solid #B3C8CF;
    background-color: #212529;
    cursor: pointer;
}


#formulaireFiltres input::placeholder {
    color: #FFFFFF;
}

#filters_status_filter {
    margin-top: 4% !important;
    display: flex;
    align-items: center;
}
#filters[searchbar]{
   width: 5%;
}

#filters_status_filter input[type="checkbox"] {
    margin-right: 7px;
    position: relative;
    display: inline-block;
    width: 30px ;
    height: 20px;
    cursor: pointer;
}

#filters_status_filter input[type="checkbox"]:checked {
    background-color: #007bff;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
#formulaireFiltres label {

}

#affichersortie label {

    margin-top: 2%;
}



.create {
    display: flex ;
    flex-direction: row-reverse ;
    margin: 0 2% 2% 2%;
}

.create button {
    background-color: #212529;
    border: none;
}

nav a{
    font-weight: bold;
    color: #FFFFFF;
}

.logo {
    width: 10%;
}

.logo img {
    width: 80%;
}

textarea {
    min-height: 130px;
    resize: none;
}

.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 5px;
    margin : 10px;
    border: 10px;
    text-align: center;
}

.flash-succes  {
    background-color: forestgreen !important;
}

.flash-echec {
    color: darkred !important;
}

.table{
    margin-bottom: 0;
}

#bg {
    opacity: 70%;
    position: absolute;
    width: fit-content;
    height: fit-content;
}



