{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <div class="card text-white bg-dark h-100">
                    <div class="card-body">
                        <h5 class="card-title"><i class="far fa-user"></i> Gérer les utilisateurs</h5>
                        <p class="card-text">Gérer les utilisateurs inscrits sur le site.</p>
                        <a href="{{ path('app_adminusers') }}" class="btn btn-primary">Accéder</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card text-white bg-dark h-100">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-regular fa-clone"></i> Gérer les campus</h5>
                        <p class="card-text">Description de la carte fictive. Temporaire.</p>
                        <a href="#" class="btn btn-primary">Accéder</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card text-white bg-dark h-100">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-regular fa-building"></i> Gérer les villes</h5>
                        <p class="card-text">Description fictive ridicule. Absolument ridicule.</p>
                        <a href="{{ path('app_admincities') }}" class="btn btn-primary">Accéder</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
