{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        {{ form_start(activityForm, {'attr': {'id': 'formulaireActivity'}}) }}
        {{ form_widget(activityForm) }}

        <button>Ajouter</button>
        {{ form_end(activityForm) }}

    </div>
{% endblock %}

{% block title %}

{% endblock %}
