/*
CSS à compléter
 */
body {
    background-color: skyblue;
}

h1 {
    text-align:center;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Asul', sans-serif;

}

form {
    width: 150px;
    display: block;
    float: left;
    align-self:center;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 2%;

}

.login-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.login-button:hover {
    background-color: #45a049;
    color: white;
}


.login-button:active {
    background-color: #3e8e41;
    transform: translateY(1px);
}

input {
    width: 90%;
    padding: 2%;
    margin-bottom: 8%;

}